<nav class="navbar navbar-expand-sm navbar-dark pr-0" style = "background-color:rgb(93, 93, 189);">    
    <ul class="container-fluid navbar-nav d-flex flex-row justify-content-between p-0">
        <div id = "logo">
            <li class="nav-item">
                <a class="nav-link" href="/">Logo</a>
            </li>
        </div>  
        <div id = "tags" class = "d-flex flex-row justify-content-between">
            <!-- <div class = "d-flex flex-row pr-3">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </div> -->
            <div class = "d-flex align-items-center">
                <li class = "nav-item d-flex align-items-center justify-content-center px-4" onclick="openNav()" style = "border-left:darkgrey 1px solid">
                        <span onclick="openNav()"><i class="fas fa-bars" style = "color:white"></i></span>
                </li>
            </div>
        </div>
    </ul>
</nav>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<!-- Use any element to open the sidenav -->
