<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="../css/cards.css">
</head>
<body>
    <% include partials/navbarAfterAuth.ejs %>
    <!-- <h1><%= pageTitle %></h1> -->
    <div class="card-container">
        <section class="card">
            <img class="card-img" src="../images/consultant.jpg" alt="">
            <div class="card-content">
                <h2 class="card-title">consultant</h2><hr>
                <p class="card-text">What is consultant?<br>This lecture will explaine what it's about.</p><hr>
                <h6 class="card-sponsor">Mentor Name: <i>name</i></h6>
            </div>
        </section>
        <section class="card">
            <img class="card-img" src="../images/IT.jpg" alt="">
            <div class="card-content">
                <h2 class="card-title">IT</h2><hr>
                <p class="card-text">What is IT?<br>This lecture will explaine what it's about.</p><hr>
                <h6 class="card-sponsor">Mentor Name: <i>name</i></h6>
            </div>
        </section>
        <section class="card">
            <img class="card-img" src="../images/science.jpg" alt="">
            <div class="card-content">
                <h2 class="card-title">Science</h2><hr>
                <p class="card-text">What is science?<br>This lecture will explaine what it's about.</p><hr>
                <h6 class="card-sponsor">Mentor Name: <i>name</i></h6>
            </div>
        </section>
        <section class="card">
            <img class="card-img" src="../images/educate.jpg" alt="">
            <div class="card-content">
                <h2 class="card-title">Education</h2><hr>
                <p class="card-text">What is education?<br>This lecture will explaine what it's about.</p><hr>
                <h6 class="card-sponsor">Mentor Name: <i>name</i></h6>
            </div>
        </section>
        <section class="card">
            <img class="card-img" src="../images/design.jpg" alt="" >
            <div class="card-content">
                <h2 class="card-title">Design</h2><hr>
                <p class="card-text">What is design?<br>This lecture will explaine what it's about.</p><hr>
                <h6 class="card-sponsor">Mentor Name: <i>name</i></h6>
            </div>
        </section>
        <section class="card">
            <img class="card-img" src="../images/auto.jpg" alt="">
            <div class="card-content">
                <h2 class="card-title">Automotive</h2><hr>
                <p class="card-text">What is automotive?<br>This lecture will explaine what it's about.</p><hr>
                <h6 class="card-sponsor">Mentor Name: <i>name</i></h6>
            </div>
        </section>
    </div>

    <form method="GET" action="search">
        <a href="search">back</a>
        <!-- <button type="submit" class="back-btn" >back</button> -->
    </form>

    <% include partials/footer.ejs %>
    <% include partials/jsdefaults.ejs %>
</body>
</html>