<!DOCTYPE html>
<html>
	<head>
        
        <title>Chat</title>
        <!-------- Chat CSS styling ---------->
        <style>
body,html{
    height: 100%;
    margin: 0;
    background: url("https://www.xmple.com/wallpaper/gradient-blue-linear-red-3840x2160-c2-00bfff-f08080-a-345-f-14.svg") no-repeat center ; 
    overflow: auto;
}
button{
    background: 0px; 
    border: 0px;
    border-radius: 10px;
}
#text{
    overflow-y: hidden;
}
.chat{
    margin-top: auto;
    margin-bottom: auto;
}
.card{
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0,0,0,0.4) !important;
}
.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: wrap;
}
.msg_card_body{
    overflow-y: auto;
    overflow-x: auto;
}
.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.card-footer{
border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
.container{
    align-content: center;
}
.search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
}
.search:focus{
    box-shadow:none !important;
    outline:0px !important;
}
.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
    .type_msg:focus{
    box-shadow:none !important;
    outline:0px !important;
}
.attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.contacts{
    list-style: none;
    padding: 0;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}
.active{
    background-color: rgba(0,0,0,0.3);
}
.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}
.online_icon{
position: absolute;
height: 15px;
width:15px;
background-color: #4cd137;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}
.offline{
background-color: #c23616 !important;
}
.user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}
.user_info span{
font-size: 20px;
color: white;
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.video_cam{
margin-left: 50px;
margin-top: 5px;
}
.video_cam span{
color: white;
font-size: 30px;
cursor: pointer;
margin-right: 20px;
}
.msg_cotainer{
margin-top: auto;
margin-bottom: 25px;
margin-left: 10px;
border-radius: 20px;
background-color: #82ccdd;
padding: 7px;
position: relative;
}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: 25px;
margin-right: 10px;
border-radius: 25px;
background-color: #78e08f;
padding: 7px;
position: relative;
}
.msg_time{
position: absolute;
left: 0;
bottom: -18px;
color: rgba(255,255,255,0.5);
font-size: 10px;
white-space: nowrap;
}
.msg_time_send{
position: absolute;
right:0;
margin-top: auto;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
white-space: nowrap;
}
.msg_head{
position: relative;
}

@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}
/* END CHAT CSS STYLING */
        </style>
        <link rel="stylesheet" href="../routes/chat.js">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
            <% include partials/navbar.ejs %>
                <!-- FULL PAGE CONTAINER -->
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
                                <!-- LEFT SIDE CONTACTSCARD -->
				<div class="col-sm-4 col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
						<div class="input-group">
							<input type="text" placeholder="Search..." name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>
						</div>
					</div>
					<div class="card-body contacts_body">
						<ui class="contacts">
						<li class="active">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Natural-Dog-Law-2-To-dogs%2C-energy-is-everything.jpg?itok=Z-ujUOUr" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>Users Name</span>
									<p>User is online</p>
								</div>
							</div>
						</li>
						<li>
					</div>
					<div class="card-footer"></div>
                </div></div>
                <!-- END LEFT SIDE CONTACTS CARD -->
                <!-- RIGHT SIDE CHAT BOX -->
				<div class="col-sm-8 col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://thenypost.files.wordpress.com/2018/05/180516-woman-mauled-by-angry-wiener-dogs-feature.jpg?quality=90&strip=all&w=618&h=410&crop=1" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>Chat with Users Name</span>
									<p>Message count</p>
								</div>
							</div>
						</div>
						<div class="card-body msg_card_body" id = "messages">
							<div class="d-flex justify-content-start mb-4" id = "wrap1" >
								<div class="img_cont_msg"id ="wrap2">
									<img src="https://thenypost.files.wordpress.com/2018/05/180516-woman-mauled-by-angry-wiener-dogs-feature.jpg?quality=90&strip=all&w=618&h=410&crop=1" class="rounded-circle user_img_msg">
								</div>
								<div class="msg_cotainer" id="wrap3">
                                    Welcome to the Chat system , To get started type your message in the input box and click the arrow button.
									<span class="msg_time">8:40 AM, Today</span>
								</div>
							</div>
							<div class="d-flex justify-content-end mb-4">
								<div class="msg_cotainer_send">
									Users message
									<span class="msg_time_send">8:55 AM, Today</span>
								</div>
								<div class="img_cont_msg">
							<img src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Natural-Dog-Law-2-To-dogs%2C-energy-is-everything.jpg?itok=Z-ujUOUr" class="rounded-circle user_img_msg">
								</div>
							</div>
						</div>
						<form class="card-footer">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
								</div>
								<input name="" id ="m" class="form-control type_msg" placeholder="Type your message..."></input>
								<div class="input-group-append">
									<form  class="input-group-text send_btn"><button> <i class="fas fa-location-arrow"></i></button></form>
								</div>
							</div>
                        </form>
					</div>
				</div>
			</div>
        </div>
        <!-- END RIGHT SIDE CHAT BOX -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>    
        <script>
                $(function () {
                    var socket = io();
                    $('form').submit((e)=> {
                        e.preventDefault();
                        socket.emit('chat message', $('#m').val());
                        $('#m').val()
                        return false;
                    });
                    socket.on('chat message', (msg)=> {
                        var input = $('#m').val()
                        var usermessages = `<div class="d-flex justify-content-start mb-4" >
                                                <div class="img_cont_msg">
                                                    <img src="https://thenypost.files.wordpress.com/2018/05/180516-woman-mauled-by-angry-wiener-dogs-feature.jpg?quality=90&strip=all&w=618&h=410&crop=1" class="rounded-circle user_img_msg">
                                                </div>
                                                <div class="msg_cotainer">
                                                    ${input}
                                                    <span class="msg_time">8:40 AM, Today</span>
                                                </div>
                                            </div>`
                        var recmessages = `<div class="d-flex justify-content-end mb-4">
                                                <div class="msg_cotainer_send">
                                                        ${input}
                                                    <span class="msg_time_send">8:55 AM, Today</span>
                                                    </div>
                                                    <div class="img_cont_msg">
                                                    <img src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Natural-Dog-Law-2-To-dogs%2C-energy-is-everything.jpg?itok=Z-ujUOUr" class="rounded-circle user_img_msg">
                                                </div>
                                            </div>`
                        $('#messages').append(usermessages,recmessages);
                        $('#m').val('')
                    });
                });
            </script> 
	</body>
</html>


