<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <% include partials/navbar.ejs %>
    <main class = "container-fluid d-flex">
        <div class = "col-3 d-flex flex-column" style = "height:92vh">
            <div class = "shadow border m-1 mt-2 h-25">
                <div class = "bg-maincolor font-white p-3">Mentor</div>
            </div>
            <div class = "shadow border m-1 h-25">
                <div class = "bg-maincolor font-white p-3">Extracurricular</div>
            </div>
            <div class = "shadow border m-1 flex-grow-1">
                <div class = "bg-maincolor font-white p-3">Enrolled Classes</div>
            </div>
        </div>
        <div class = "col-6 d-flex flex-column">
                <div class = "shadow border-custom m-1 mt-2 round-border overflow-hidden">
                        <div class = "bg-maincolor font-white p-3">Submit Post</div>
                        <form id="submitPost" method = "POST"> 
                            <div class = "d-flex justify-content-end m-3">
                                <textarea id ="postfield" type="text" placeholder="Enter your message and click submit" class="form-control col-10" name="post"
                                rows="3"></textarea>
                            </div>
                            <div class = "d-flex justify-content-end m-3">                         
                                <input class = "button3" type="submit">
                            </div> 
                        </form>
                </div>
                <div id = "post-box">

                </div>

        </div>
        <div class = "col-3 d-flex flex-column" style = " min-width:200px">
                <div class = "shadow d-flex flex-column border-custom m-1  order-2 round-border overflow-hidden " style = "height:35vh; width:30vh;min-width:300px; min-height:250px; position:relative">
                        <div class = "bg-maincolor font-white p-3 d-flex justify-content-end">Intro</div>
                        <ul class = "d-flex flex-column justify-content-between h-50 p-0 ml-1 mt-1">
                            <li class = "font-weight-bold">
                                Grade:
                            </li>
                            <li class = "font-weight-bold">
                                School:
                            </li>
                            <li class = "font-weight-bold">
                                Industry of Interest: 
                            </li>
                        </ul>
                </div>
                    <div class = "shadow d-flex flex-column border-custom m-1 order-3 round-border overflow-hidden" style = "height:20vh; width:30vh;min-width:300px; min-height:200px; position:relative">
                        
                    </div>
                    <div class = "shadow d-flex flex-column border-custom m-1 mt-2 order-1 round-border overflow-hidden" style = "height:40vh; width:30vh;min-width:300px; min-height:350px; position:relative">
                        <div class = "bg-maincolor h-50">

                        </div>
                        <div class = "d-flex flex-column h-50">
                            <ul class = "d-flex flex-column justify-content-end h-100">
                                <li>
                                    <h5 class = "font-weight-bold">First Name, Last Name</h2>
                                </li>
                                <li>
                                    <h5>Username</h4>
                                </li>
                            </ul>
                        </div>
                        <div class = "bg-light d-flex justify-content-center align-items-center" style = "width:50%; height:50%; min-height:150px; z-index: 1;  position: absolute; border-radius:50%; top:40%; margin:-25%; right:50%; border:white 7px solid; position: absolute;  position: absolute; min-width:150px">

                        </div>
                    </div>
        </div>
    </main>
    <% include partials/footer.ejs %>
    <% include partials/jsdefaults.ejs %>
    <script src= "../scripts/addpost.js"> </script>
</body>
</html>