<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="../css/cards.css">
</head>
<body>
        <% include partials/navbarAfterAuth.ejs %>
        <!-- <h1><%= pageTitle %></h1> -->
    <div class="card-container">
        <section class="card">
            <img class="card-img" src="../images/design1.jpg" alt="">
            <div class="card-content">
                <h2 class="card-title">Grafic design</h2><hr>
                <p class="card-text">What is Grafic design?<br>This lecture will explaine what it's about.</p><hr>
                <h6 class="card-sponsor">Mentor Name: <i>name</i></h6>
            </div>
        </section>
        <section class="card">
            <img class="card-img" src="../images/design2.jpg" alt="">
            <div class="card-content">
                <h2 class="card-title">Web design</h2><hr>
                <p class="card-text">What is Web design?<br>This lecture will explaine what it's about.</p><hr>
                <h6 class="card-sponsor">Mentor Name: <i>name</i></h6>
            </div>
        </section>
        <section class="card">
            <img class="card-img" src="../images/design3.jpg" alt="">
            <div class="card-content">
                <h2 class="card-title">Industrial design</h2><hr>
                <p class="card-text">What is Industrial design?<br>This lecture will explaine what it's about.</p><hr>
                <h6 class="card-sponsor">Mentor Name: <i>name</i></h6>
            </div>
        </section>
        <!-- <section class="card">
            <img class="card-img" src="../images/educate.jpg" alt="">
            <div class="card-content">
                <h2 class="card-title">sports</h2><hr>
                <p class="card-text">What is education?<br>This lecture will explaine what it's about.</p><hr>
                <h6 class="card-sponsor">Mentor Name: <i>name</i></h6>
            </div>
        </section>
        <section class="card">
            <img class="card-img" src="../images/design.jpg" alt="" >
            <div class="card-content">
                <h2 class="card-title">Design</h2><hr>
                <p class="card-text">What is design?<br>This lecture will explaine what it's about.</p><hr>
                <h6 class="card-sponsor">Mentor Name: <i>name</i></h6>
            </div>
        </section>
        <section class="card">
            <img class="card-img" src="../images/auto.jpg" alt="">
            <div class="card-content">
                <h2 class="card-title">Automotive</h2><hr>
                <p class="card-text">What is automotive?<br>This lecture will explaine what it's about.</p><hr>
                <h6 class="card-sponsor">Mentor Name: <i>name</i></h6>
            </div>
        </section> -->
        
    </div>
    <form method="GET" action="search">
            <a href="search">back</a>
            <!-- <button type="submit" class="back-btn" >back</button> -->
    </form>

    <% include partials/footer.ejs %>
    <% include partials/jsdefaults.ejs %>
</body>
</html>