<!doctype html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <% include partials/navbar.ejs %>
    <!-- QUOTE BOX BEGIN -->

    <header class= "d-flex justify-content-end">
            <div class='top text-white'>       
                    <!-- <h1> Bridging the Path of Students and their Future</h1> -->
                </div>          
            <div class="box">
                    <i class="fa fa-quote-left fa2" aria-hidden="true"></i>
                    <div class="text">
                        <i class="fa fa-quote-right fa1" aria-hidden="true"></i>			
                        <div>
                            <h1>"A mentor
                            is someone who sees more talent and ability within you,
                                than you see in yourself,
                                and helps bring it out of you."    </h1>
                        </div>
                
                    </div>
            </div>
        <!-- QUOTE BOX END -->
        <div class = "container-fluid d-flex align-self-center justify-content-between" style = "width:300px;background-color:rgb(93, 93, 189); margin-right:30px;border-radius:5px; color:white">
            <div class = "p-2">
                <h2>Sign In</h2>
                <div>Already Registered? Sign in with your account!</div>
                <br>
                <a href="/login" class="button1">Sign In</a>
                <br>
                <a href="#" class = "forget" style = "color:white">Forget Username or Password?</a>
                <br>
                <br>
                <h2>Register</h2>
                <div>Need Access? Start Here!</div>
                <br>
                <a href="/signup/student" class="button1">Student</a>
                <a href="/signup/teacher" class="button1">Teacher</a>
                <a href="/signup/mentor" class="button1">Mentor</a>
            </div>
        </div>
    </header>
    <main>
        <div id = "information" class = "container-fluid d-flex flex-wrap">
            <div class = "col-6 d-flex flex-column justify-content-center">
                <h2 class="text-center">Why should you utilize this platform?</h2>
                <div class="text-center">Mentoring is important, not only because of the knowledge and skills students can learn from mentors, but also because mentoring provides professional socialization and personal support to facilitate success in graduate school and beyond. Quality mentoring greatly enhances students' chances for success.</div>
            </div>
            <div class = "col-6 d-flex align-items-center"> <iframe width="100%" height="315" src="https://www.youtube.com/embed/bqwf1rZGi3I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
        <div id = "samplementors" class = "d-flex flex-column">
            <div id = "samplementorsheader" class = "d-flex flex-column justify-content-center align-items-center">
                <h1 class = "pt-5">Testimonials</h1>
                <div>Customer Reviews</div>
            </div>
            <div id = "samplementorscards" class = "flex-fill" style = "color:white">
                <div class = "individualSampleMentorCard d-flex flex-column align-items-center">
                    <div class = "mt-3" style = "position:relative;height:150px;width:150px;border-radius:50%; overflow: hidden">
                        <img class = "homeheadshot" src="../images/headshot1.jpg" alt="" style = "position:absolute;width:200%;top:-60%;right:-48%">
                    </div>
                    <br>
                    <div class ="text-center text-wrap" style = "font-style:italic">"Thanks to this service, I was able to find my mentor that helped me pursue my dream of becoming a doctor!"</div>
                    <br>
                    <div> - Rick</div>
                </div>
                <div class = "individualSampleMentorCard d-flex flex-column align-items-center">
                        <div class = "mt-3" style = "position:relative;height:150px;width:150px; border-radius:50%; overflow: hidden">
                            <img class = "homeheadshot" src="../images/headshot2.jpg" alt="" style = "position:absolute;width:150%;right:-25%">
                        </div>
                        <br>
                        <div class ="text-center" style = "font-style:italic">"What an amazing service! I am one step closer to becoming a lawyer!"</div>
                        <br>
                        <div> - Diana</div>
                </div>
                <div class = "individualSampleMentorCard d-flex flex-column align-items-center">
                        <div class = "mt-3" style = "position:relative;height:150px;width:150px; border-radius:50%; overflow: hidden">
                            <img class = "homeheadshot" src="../images/headshot3.jpg" alt="" style = "position:absolute;width:200%;top:-5%;right:-25%">
                        </div>
                        <br>
                        <div class ="text-center" style = "font-style:italic">"Seeing my mentees succeed is one of the most rewarding things in life"</div>
                        <br>
                        <div> - Joseph</div>
                </div>
                <div class = "individualSampleMentorCard d-flex flex-column align-items-center">
                        <div class = "mt-3" style = "position:relative;height:150px;width:150px; border-radius:50%; overflow: hidden">
                            <img class = "homeheadshot" src="../images/headshot4.jpg" alt="" style = "position:absolute;width:250%;top:-80%;right:-100%">
                        </div>
                        <br>
                        <div class ="text-center text-wrap" style = "font-style:italic">"This service helped make my dream of being a business owner a reality."</div>
                        <br>
                        <div> - Dominic</div>
                </div>
            </div>
        </div>
        <!-- <div id = "bottomcards" class = "container-fluid mt-4">
                <div class = "homeinfoboxes mx-3">
                    <h3>Magna tempus sed amet aliquam veroeros</h1>
                </div>
                <div class = "homeinfoboxes mx-3">
                    <h3>Interdum lorem pulvinar adipiscing vitae</h1>
                </div>
        </div> -->
    </main>
    <% include partials/footer.ejs %>
    <% include partials/jsdefaults.ejs %>
</body>

</html>