<!doctype html>
<html lang="en">
<head>
    <% include partials/head.ejs%>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<!-- login page modal form -->
<% include partials/navbar.ejs %>
<body>
    <div class="modal-dialog text-center" >
        <div class ="col-sm-9 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="/images/face.png" alt="">
                </div>
                <div class="col-12 form-input">
                    <form method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Email" name="username">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Enter Password" name="password">
                        </div>
                        <button value="submit" type="submit" class="btn btn-succes">Login</button>
                    </form>
                </div>
                <div class="col-12 forgot">
                    <a href="#">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
    





<<<<<<< HEAD
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
=======
    <% include partials/jsdefaults.ejs %>
>>>>>>> 718739f0f6bcbb36646a45aac61e4a294a92b268
</body>
</html>


<!-- end of code -->