<!doctype html>
<html lang="en">
<head>
<% include partials/head.ejs %>
<link rel="stylesheet" href="../css/category.css">
</head>
<!-- category page modal form -->
<body>
    <% include partials/navbar.ejs %>
    <div class="modal-dialog text-center" >
        <div class ="col-sm-9 main-section">
            <div class="modal-content">
                <div class="col-12 form-input">
                    <form method="GET" action="cards">
                        <div class="form-group">
                            <% include partials/categories.ejs %>
                            <!-- <input type="text" class="form-control" placeholder="Seach category" name="category"> -->
                            <button type="submit" class="search-btn" >search</button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    





    <% include partials/footer.ejs %>
    <% include partials/jsdefaults.ejs %>
</body>
</html>


<!-- end of code -->