<!doctype html>
<html lang="en">
<head>
<% include partials/head.ejs %>
<link rel="stylesheet" href="../css/category.css">
</head>
<!-- category page modal form -->
<body>
    <% include partials/navbarAfterAuth.ejs %>
    <div class="modal-dialog text-center" >
        <div class ="col-sm-9 main-section">
            <div class="modal-content">
                <div class="col-12 form-input">
                    <form method="GET" action="/mentorlists">
                        <div class="form-group">
                            <select name="category">
                                <option value="">Choose your Category</option>
                                <% data.forEach(item=>{ %>
                                    <option value="<%=item.id %>"><%=item.industries %></option>
                                <% }) %>
                            </select> 
                                                        <!-- <input type="text" class="form-control" placeholder="Seach category" name="category"> -->
                            <button type="submit" class="search-btn" >search</button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    





    <% include partials/footer.ejs %>
    <% include partials/jsdefaults.ejs %>
</body>
</html>


<!-- end of code -->