<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <% include partials/navbar.ejs %>
    <% include partials/footer.ejs %>
    <% include partials/jsdefaults.ejs %>
</body>
</html>