header{
    height:92vh;
    min-height: 500px;
    background-image: url("../images/neonbrand-426918-unsplash.jpg");
    background-attachment:fixed;
    background-size:cover;
    background-repeat: no-repeat;
}

.homeinfoboxes{
    height:30vh;
    border-bottom: lightblue 1px solid;
}

.homeinfoboxes h3{
    color: rgb(93, 93, 189);
}

#information{
    padding-top:5vh;
    padding-bottom:5vh;
}

#samplementors{
    height:auto;
    background-color:rgb(93, 93, 189);
}

#samplementorsheader{
    color:white;
}

.individualSampleMentorCard{
    border:white 1px solid;
    height:350px;
    width:350px;
    margin: 5vw;
}

/* ----------------------------------------------------
    BUTTON HOVER
------------------------------------------------------*/
a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    width:100%
    }
    a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
     a.button1{
    display:block;
    margin:0.4em auto;
    }
}


@media only screen and (max-width: 870px) {
    #samplementorscards{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 1200px) {
    #samplementorscards{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap
    }
}

@media only screen and (min-width:1200px){
    #samplementorscards{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap:nowrap;
    }
    .invidualSampleMentorCard{
        border:white 1px solid;
        height:350px;
        width:350px;
    }
}